
    <!-- 1st About Us -->
    <section id="scroll">
        <div class="container px-5 about">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                   <div class="p-5"><%= image_tag("high-five.jpeg", class: "img-fluid", alt: "Foster with dog") %>
                   </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">About Us</h2>
                        <p>Compass Dog Rescue is dedicated to rescuing dogs from high kill shelters, specifically in the south, and guiding them North (hence the name - "Compass"). We do not have a facility, but work out of our homes. Dogs are kept in foster care until qualified, loving, forever homes can be found.</p>
                        <p>Compass tends to rescue dogs that are best suited for the northern climate. These breeds are generally long haired, shepherd purebreeds and mixes. However, we also accept other breeds, giving emphasis to personality. Our network continues to grow in the south Texas area, and we are not limited to assisting any specific city or town. </p>  
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <!-- 2nd Foster Dogs -->
    <section>
        <div class="container px-5">
            <div class="row-foster">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><%= image_tag("foster_dog.jpeg", class: "img-fluid", alt: "Foster with dog") %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Meet The Fosters</h2>
                                <p>Our foster dogs are located out of state, awaiting transportation up north. Although most live in a home environment with their foster family for a few weeks, we have a few dogs in boarding due to a shortage of foster parents. We try not to rely on boarding, since we feel our dogs do better in a home life than at a boarding kennel.</p>
                                <p>Texas foster parents work together to transport dogs to doctor&apos;s appointments, provide information on training, and share other resources. They have different levels of experience fostering dogs over several years.</p>
                                <p>If you are interested in a dog, you can begin the process early, by submitting an applicataon while the dogs are still in foster care. No final decision will be made, until after the dogs arrive in Michigan. Please visit our Foster Dogs page to view dogs in our organization.</p> 
                        </div>
                        <div><a class="btn btn-primary" href="#" role="button">Fosters</a>
                        </div>
                    </div>
                </div>
            </div> <!--  /row -->
        </div>
    </section>
    
    <!-- 3rd Adoptable Dogs -->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                <div class="p-5"><%= image_tag("reggie.jpg", class: "img-fluid", alt: "Buzz with birthday cake") %>
                </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Adorable Adoptables</h2>
                        <p>Our adoptable dogs are already here in Michigan looking for their forever homes. Once they arrive from transport, they live with their foster family until they are adopted. This gives the dogs time to rest from their travels and acclimate to the northern environment. We also feel they benefit by continung to live with families in a home environment.</p>
                        <p>In most cases, the timeframe before placement is short, since our dogs have been marketed for several weeks.  a foster for these dogs, please submit an application.</p> 
                    </div>
                    <div><a class="btn btn-primary" href="#" role="button">Adoptables</a>
                    </div>
                </div>
            </div>
        </div>
    </section>









 

