<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Compass Dog Rescue</h1>
            <h2 class="masthead-subheading mb-0">Pure Michigan</h2>
        </div>
    </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- 1st Section Who We Are -->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><%= image_tag("happy.jpeg", class: "img-fluid rounded-circle", alt: "Barklee Dog") %></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Who We Are</h2>
                        <p>Compass Dog Rescue is a 501c3/Nonprofit Organization dedicated to rescuing dogs from high kill shelters, specifically in the south where the euthanasia rate is very high, and guiding them North (hence the name - "Compass"), bringing them into foster care until qualified, loving forever homes can be found.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2nd Section Adoptable Dogs -->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><%= image_tag("reggie.jpg", class: "img-fluid rounded-circle", alt: "Reggie with cat") %></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Adopt Us</h2>
                        <p>Please visit the photo album section of the page to see dogs currently in foster care and available for adoption.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3rd Section Buzz Birthday -->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><%= image_tag("reggie.jpg", class: "img-fluid rounded-circle", alt: "Buzz with birthday cake") %></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">600 dogs, and counting...</h2>
                        <p>We celebrated our 6 year anniversay on August 1st of 2021. <i>Buzz</i>, now Casey, was our first adoption. To celebrate Casey&apos;s <i>Gotcha Day</i>, his family threw a Pawty like none other! We are so glad that Casey and all the Compass dogs are doing so well.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
