/* change bg color to blue line 11320 on styles */
header.masthead {
    background: linear-gradient(0deg, #a2dafa 0%, #026ead 100%) !important; 
  }

/* change circle color to blue line 11345 on styles */
header.masthead .bg-circle {
    background: linear-gradient(0deg, #026ead 0%, #a2dafa 100%) !important; 
  }

/* Navigation line 11313 */
.navbar .navbar-expand-lg .navbar-dark .navbar-custom .fixed-top {
    background-color: rgba(0, 0, 0, 0.7) !important;   
}

/* Nav links */
.navbar-dark > .navbar-nav > .nav-link {
    color: rgba(0, 0, 0, 0.7) !important;
}

/* Adoption Form */
.container.adoption {
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    
}

.adoption-heading {
    text-align: center;
}
/* Center fields */
.form-row {
    margin: 20px;
}

/* Align fields */
.f-name, .l-name {
    width: 300px;
}
/* Widen and align */
.phone {
    width: 258px;
}

.website {
    width: 385px;
}

/* Length city, st, zip fields */
.city {
    width: 410px;
}

.st, .zip {
    width: 100px
}

.email {
    width: 720px;
}
/* Widen addr field */
.address {
    width: 685px;
    margin-left: 15px;
}

  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  } 